{% extends "layout.html" %}

{% block title %}
    Playlist
{% endblock %}

{% block main %}
    <form action="/getPlaylist" method="post">
        <div class="mb-3">
            <select name="playlist" class="form-control mx-auto w-auto">
                <option disabled selected>Playlist Name</option>
                {% for row in names%}
                <option>{{ row }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Get Songs</button>
    </form>
{% endblock %}
